<div mat-dialog-content class="mat-dialog-main-div">
    <mat-label>Username: {{data.registrationRequest.username}}</mat-label>  
    <mat-label>Name: {{data.registrationRequest.name}}</mat-label>
    <mat-label>Surname: {{data.registrationRequest.surname}}</mat-label>
    <mat-label>Street address: {{data.registrationRequest.address.streetAddress}}</mat-label>
    <mat-label>City: {{data.registrationRequest.address.city}}</mat-label>
    <mat-label>Country: {{data.registrationRequest.address.country}}</mat-label>
    <mat-label>Phone number: {{data.registrationRequest.phoneNumber}}</mat-label>
    <mat-label>Work title: {{data.registrationRequest.workTitle}}</mat-label>
    <mat-label>Role: {{data.registrationRequest.role}}</mat-label>
</div>
<div mat-dialog-actions class="mat-dialog-buttons">
    <button mat-button (click)="declineRequest()">Decline</button>
    <button mat-button (click)="acceptRequest()">Accept</button>
    <button mat-button (click)="cancel()" >Cancel</button>
</div>
