.roles-and-permissions-main-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
}

.roles-accordion{
    height: 800px;
    overflow-y: scroll;
}