<admin-toolbar></admin-toolbar>
<div class="roles-and-permissions-main-div">
    <mat-accordion class="roles-accordion" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Software Engineer </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-selection-list #engineerPrivileges [multiple]="false" [(ngModel)]="chosenForEngineer">  
                <mat-list-option  *ngFor="let engPrivilege of engineerPermissions" [value]="engPrivilege" >  
                  {{engPrivilege.name}}  
                </mat-list-option>  
              </mat-selection-list>  
            <mat-action-row>
                <button mat-raised-button (click)="addDialogForEngineer()">Add</button>
                <button mat-raised-button [disabled]="!engineerPrivileges.selectedOptions.hasValue()" (click)="removeForEngineer()">Remove</button>
            </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Project manager </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-selection-list #PRPrivileges [multiple]="false" [(ngModel)]="chosenForPR">  
                <mat-list-option  *ngFor="let PRPrivilege of PRPermissions" [value]="PRPrivilege" >
                    {{PRPrivilege.name}} 
                </mat-list-option>  
              </mat-selection-list>  
            <mat-action-row>
                <button mat-raised-button (click)="addDialogForPR()">Add</button>
                <button mat-raised-button [disabled]="!PRPrivileges.selectedOptions.hasValue()" (click)="removeForPR()">Remove</button>
            </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> HR manager </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-selection-list #HRPrivileges [multiple]="false" [(ngModel)]="chosenForHR">  
                <mat-list-option *ngFor="let HRPrivilege of HRPermissions" [value]="HRPrivilege" >  
                  {{HRPrivilege.name}}  
                </mat-list-option>  
              </mat-selection-list>  
            <mat-action-row>
                <button mat-raised-button (click)="addDialogForHR()">Add</button>
                <button mat-raised-button [disabled]="!HRPrivileges.selectedOptions.hasValue()" (click)="removeForHR()">Remove</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
