<admin-toolbar></admin-toolbar>
<div class="roles-and-permissions-main-div">
    <mat-accordion class="roles-accordion" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Software Engineer </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item>Pepper</mat-list-item>
                <mat-list-item>Salt</mat-list-item>
                <mat-list-item>Paprika</mat-list-item>
            </mat-list>
            <mat-action-row>
                <button mat-raised-button>Add permissions</button>
                <button mat-raised-button>Remove permissions</button>
            </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Project manager </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item>Pepper</mat-list-item>
                <mat-list-item>Salt</mat-list-item>
                <mat-list-item>Paprika</mat-list-item>
            </mat-list>
            <mat-action-row>
                <button mat-raised-button>Add permissions</button>
                <button mat-raised-button>Remove permissions</button>
            </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> HR manager </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item>Pepper</mat-list-item>
                <mat-list-item>Salt</mat-list-item>
                <mat-list-item>Paprika</mat-list-item>
            </mat-list>
            <mat-action-row>
                <button mat-raised-button>Add permissions</button>
                <button mat-raised-button>Remove permissions</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
