.admin-home-main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }

.all-certificates-table{
    background-color: rgb(32, 30, 30);
    margin-top: 100px;
    border-radius: 10px;
    min-width: 700px;
    height: fit-content;
}

.cell-center{
color: white;
align-content: center;
}

.cell-center-header{
  color: white;
  font-size: 18px;
  align-content: center;
  }
  
