.admin-home-main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }

.all-certificates-table{
    background-color: rgb(32, 30, 30);
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
    border-radius: 10px;
    border-collapse: collapse;
    min-width: 650px;
}

