/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100vh;
    width: 100%; }

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('assets/geometric1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-root {
    height: 100%;
    display: block;
}

::-webkit-scrollbar {
    display: none;
}
