<admin-toolbar></admin-toolbar>
<div class="add-certificate-main-div">
<mat-card class="add-certificate-mat-card">
    <mat-card-header>
       <h2>Create new certificate</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Certificate type</mat-label>
            <mat-select [(value)]="selectedCertificateType">
                <mat-option value="SELF_SIGNED">Self-signed</mat-option>
                <mat-option value="INTERMEDIATE">Intermediate entity</mat-option>
                <mat-option value="END_ENTITY">End entity</mat-option>
            </mat-select>
        </mat-form-field>
        <form class="ss-certificate-form" *ngIf="(selectedCertificateType==='SELF_SIGNED')" name="ss-form">
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput [(ngModel)]="SSFormData.subject.firstName" name="firstName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput [(ngModel)]="SSFormData.subject.lastName" name="lastName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" [(ngModel)]="SSFormData.subject.email" name="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Organization</mat-label>
                <input matInput type="text" [(ngModel)]="SSFormData.subject.organization" name="organization">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Organization unit</mat-label>
                <input matInput type="text" [(ngModel)]="SSFormData.subject.organizationUnit" name="organizationUnit">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput type="text" [(ngModel)]="SSFormData.subject.country" name="country">
            </mat-form-field>
            <button mat-button class="add-certificate-button" (click)="submitSSForm()">Submit</button>
        </form>
        <form class="ca-and-ee-certificate-form" *ngIf="(selectedCertificateType!=='SELF_SIGNED' && selectedCertificateType)" name="ca-ee-form">
            <mat-form-field>
                <mat-label>Choose issuer:</mat-label>
                <mat-select [(value)]="selectedIssuer">
                    <mat-option *ngFor="let issuer of allIssuers" [value]="issuer">{{issuer.firstName}} {{issuer.lastName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card *ngIf="selectedIssuer" class="certificate-form-issuer-mat-card">
                <mat-card-header>
                    <h3> Issuer info</h3>
                </mat-card-header>
                <mat-card-content>
                    <h4>Email: {{selectedIssuer.email}} </h4>
                    <h4>Organization: {{selectedIssuer.organization}}</h4>
                    <h4>Organization unit: {{selectedIssuer.organizationUnit}}</h4>
                </mat-card-content>
            </mat-card>
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput [(ngModel)]="EEAndCAFormData.subject.firstName" name="firstName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput [(ngModel)]="EEAndCAFormData.subject.lastName" name="lastName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" [(ngModel)]="EEAndCAFormData.subject.email" name="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Organization</mat-label>
                <input matInput type="text" [(ngModel)]="EEAndCAFormData.subject.organization" name="organization">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Organization unit</mat-label>
                <input matInput type="text" [(ngModel)]="EEAndCAFormData.subject.organizationUnit" name="organizationUnit">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput type="text" [(ngModel)]="EEAndCAFormData.subject.country" name="country">
            </mat-form-field>
        <button mat-button class="add-certificate-button" (click)="submitCAEEForm()">Submit</button>
        </form>
    </mat-card-content>
</mat-card>
</div>
