<admin-toolbar></admin-toolbar>
<div class="add-certificate-main-div">
    <div class="wrapper">
        <div class="title">
            Add Engineer
        </div>
        <div class="form">
          <form [formGroup]="createProjectWorkForm">


            <div class="inputfield">
                <label>Engineer:</label>
                <mat-select [(value)]="selectedEngineer">
                    <mat-option *ngFor="let engineer of allEngineers" [value]="engineer"> {{engineer.id}} {{engineer.name}} {{engineer.surname}}</mat-option>
                </mat-select>
            </div>
            

            <div class="inputfield">
                <label for="startDate">Start Date:</label>
                <input type="date" name="startDate" formControlName="startDate" class="input">
            </div>
            <div class="inputfield">
              <label></label>
              <span style="color: red; font-size: medium; font: bold;" *ngIf="startDate && startDate.invalid && startDate.touched"> This date is invalid! </span>
            </div>

            <div class="inputfield">
                <label for="endDate">End Date:</label>
                <input type="date" name="endDate" formControlName="endDate" class="input">
            </div>
            <div class="inputfield">
              <label></label>
              <span style="color: red; font-size: medium; font: bold;" *ngIf="endDate && endDate.invalid && endDate.touched"> This date is invalid! </span>
            </div>

            <div class="inputfield">
                <label for="responsibility">Responsibility:</label>
                <input type="text" name="responsibility" formControlName="responsibility" class="input">
            </div>
            <div class="inputfield">
              <label></label>
              <span style="color: red; font-size: medium; font: bold;" *ngIf="responsibility && responsibility.invalid && responsibility.touched"> This word is invalid! </span>
            </div>

            

            <div style="color: red; font-size: medium; font: bold;" *ngIf="error.isError">{{error.errorMessage}}</div>
  
            <div class="inputfield">
              <button [disabled]="createProjectWorkForm.invalid" class="btn" (click)="createProjectWork()">Submit</button>
            </div>
          </form>
          <br>
          
          <div class="inputfield">
            <button class="btn" (click)="goBack()">Cancel</button>
          </div>
        </div>
      </div>
    
</div>
