.mat-toolbar {
    background-color: rgb(36, 10, 43);
    color: white;
    height: 60px;
    position: fixed;
    width: 100%;
  }

  .spacer {
    flex: 1 1 auto;
  }
  
  
  .mat-button {
    color: white;
  }
  
  .button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    padding: 25px 15px;
    background-color:  rgb(36, 10, 43);
  }