<app-hr-manager-toolbar></app-hr-manager-toolbar>
<div>
    <mat-card>
        <mat-card-title>CV</mat-card-title>
        <mat-card-content>
            
            <div class="input-group">
                <div class="cv-container">
                    <label for="cvUrl">{{pdfName}}</label>
                    <div class="cv-content">
                        <ng-container>
                            <button (click)="openCV()">View CV</button>
                        </ng-container>

                    </div>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div class="admin-home-main-div">

    <div class="table-header">
        <p class="table-title">Projects of {{engineer.name}} {{engineer.surname}}</p>
    </div>
    <table mat-table [dataSource]="dataSource" class="all-certificates-table">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="cell-center-header">ID</th>
            <td mat-cell *matCellDef="let projectWork" class="clickable cell-center">{{projectWork.id}}</td>
        </ng-container>

        <ng-container matColumnDef="projectID">
            <th mat-header-cell *matHeaderCellDef class="cell-center-header">Project ID</th>
            <td mat-cell *matCellDef="let projectWork" class="clickable cell-center">{{projectWork.projectID}}</td>
        </ng-container>
        
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef class="cell-center-header">Start Date</th>
            <td mat-cell *matCellDef="let projectWork" class="clickable cell-center">{{projectWork.startDate}}</td>
        </ng-container>
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef class="cell-center-header">End Date</th>
            <td mat-cell *matCellDef="let projectWork" class="clickable cell-center">{{projectWork.endDate}}</td>
        </ng-container>

        <ng-container matColumnDef="responsibility">
            <th mat-header-cell *matHeaderCellDef class="cell-center-header">Responsibility</th>
            <td mat-cell *matCellDef="let projectWork" class="clickable cell-center">{{projectWork.responsibility}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="table-header">
        <p class="table-title">Skills</p>
    </div>
    <table mat-table [dataSource]="dataSource2" class="all-certificates-table">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="cell-center-header">ID</th>
            <td mat-cell *matCellDef="let skill" class="clickable cell-center">{{skill.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef class="cell-center-header">Name</th>
            <td mat-cell *matCellDef="let skill" class="clickable cell-center">{{skill.name}}</td>
        </ng-container>
        <ng-container matColumnDef="evaluation">
            <th mat-header-cell *matHeaderCellDef class="cell-center-header">Evaluation</th>
            <td mat-cell *matCellDef="let skill" class="clickable cell-center">{{skill.evaluation}}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>

</div>


