<mat-toolbar >
    <button class="button" mat-button (click)="HomeClick()">Home</button>
    <button class="button" mat-button (click)="EditProfileClick()">Edit profile</button>
    <button class="button" mat-button (click)="CreateCertificateClick()">Issue certificate</button>
    <button class="button" mat-button (click)="ProjectsClick()">Projects</button>
    <button class="button" mat-button (click)="EmployeesClick()">Employees</button>
    <button class="button" mat-button (click)="RequestsClick()">Requests</button>
    <div class="spacer" ></div>
    <button class="button" mat-button (click)="LogoutClick()">Log out</button>
</mat-toolbar>
  